html {
  scroll-behavior: smooth;
}
body {
  margin-top: 0;
  width: 100%;
  font-size: 10px;
  background-color: #FFF;
  color: #333;
  font-family: 'Noto Sans JP','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.header {
  width: 100%;
  top: 0;
  border-bottom: 1px solid #333;
  background-color: #FFF;
  position: fixed;
  height: 80px;
  z-index: 999;
}
.header-inner {
  position: relative;
}
.logo-area {
  width: 300px;
  height: 80px;
  display: block;
  margin: 6px auto 0;
  position: relative;
}
.logo-area:hover {
  opacity: 0.5;
}
.logo-img {
  width: 220px;
  margin: 0 auto;
}
.logo-img img {
  width: 100%;
}
.site-description {
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  top: 42px;
  right: 100px;
}
.breadcrumb {
  max-width: 1000px;
  width: 90%;
  margin: 95px auto 0;
  display: flex;
}
.breadcrumb .breadcrumb-list {
  font-size: 1.2em;
  vertical-align: top;
  margin-right: 8px;
}
.breadcrumb .breadcrumb-list a {
  color: #333;
}
.breadcrumb .breadcrumb-list a:hover {
  opacity: 0.5;
}
.breadcrumb .breadcrumb-list:after {
  content: ">";
  color: #8f8f8f;
  margin-left: 8px;
}
.breadcrumb .breadcrumb-list:last-child:after {
  display: none;
}
.main-contents {
  display: flex;
  max-width: 1000px;
  width: 90%;
  top: 45px;
  margin: 45px auto 0;
  justify-content: space-between;
}
.article {
  width: 680px;
}
.article-head img {
  width: 100%;
  margin-bottom: 30px;
}
.article-data {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}
.case-studies {
  font-weight: bold;
}
.case-studies:after {
  content: "/";
  margin: 0 10px;
  font-weight: normal;
  color: #828282;
}
.article h1 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 41px;
  padding-bottom: 30px;
  border-bottom: 3px solid #828282;
  margin-bottom: 45px;
}
.article-text {
  font-size: 1.5em;
  margin-bottom: 52px;
  line-height: 27px;
}
.article-text:last-child {
  margin-bottom: 45px;
}
.article h2 {
  line-height: 41px;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 25px;
  padding-left: 20px;
  border-left: 3px solid #828282;
}
.item-image {
  width: 100%;
  margin-bottom: 45px;
}
.article h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 25px;
}
.site-link {
  display: block;
  margin-top: 20px;
}
.register {
  display: block;
  margin: 0 auto 45px;
  max-width: 500px;
  width: 90%;
  background-color: #FF0101;
  border-radius: 30px;
  text-align: center;
  padding: 13px 0;
  border: 3px solid #FF0101;
  font-size: 1.7em;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.register:hover {
  background-color: #FFF;
  color: #FF0101;
}
.link-style {
  color: #FF0101; 
  font-weight: bold;
}
.link-style:hover {
  opacity: 0.5;
}
.share {
  margin: 0 auto 45px;
  width: 180px;
}
.share-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.share-items {
  display: flex;
  justify-content: space-between;
}
.share-items a {
  width: 40px;
}
.share-items img {
  width: 100%;
}
.share-items img:hover {
  opacity: 0.5;
}
.comment-box {
  border-top: 3px solid #828282;
  width: 680px;
}
.js-count {
  width: 100%;
  cursor: pointer;
  margin: 15px 0 30px;
  position: relative;
  font-weight: bold;
  display: inline-block;
}
.js-count p {
  font-size: 1.5em;
  display: inline-block;
}
.js-count p:after {
  background-image: url(../images/comment-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  top: 40%;
  vertical-align: middle;
  width: 12px;
}
.js-count:hover {
  opacity: 0.5;
}
.member-id {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}
.comment {
  margin-bottom: 13px;
  font-size: 1.5em;
}
.comment-time {
  margin-bottom: 25px;
  text-align: right;
  font-size: 1.5em;
  display: block;
}
.form-text {
  height: 180px;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 1px #828282 inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
  border-radius: 4px;
  font-size: 1.5em;
}
.form-text:focus {
  outline: 0;
  border: 5px solid rgba(255,1,1,0.3);
  border-radius: 4px;
}
.form-button {
  display: block;
  padding: 7px 0;
  margin: 13px 0 0 auto;
  background-color: #FF0101;
  width: 65px;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5em;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.form-button:hover {
  opacity: 0.5;
}
.display-none {
  display: none;
}
.related {
  margin: 70px auto 110px;
}
.related h2 {
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px solid #828282;
  padding-bottom: 12px;
}
.related-list {
  display: flex;
  justify-content: space-between;
}
.related-list-item {
  width: 220px;
}
.related-list-item:hover {
  opacity: 0.5;
}
.related-list-item p {
  font-size: 1.4em;
  font-weight: bold;
  height: 45px;
}
.related-img img {
  width: 220px;
  height: 140px;
  object-fit: cover;
}
.tworow {
  line-height: 1.7em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 4.8em;
  -webkit-line-clamp: 2;
}
.treerow {
  line-height: 1.6em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 4.8em;
  -webkit-line-clamp: 3;
}
.side-bar {
  width: 260px;
}
.side-bar-inner {
  position: sticky;
  top: 100px;
}
.search-input {
  height: 42px;
  padding: 12px 0 12px 15px;
  width: 100%;
  outline: 0;
  color: #333;
  font-size: 1.4em;
  border: solid 1px #828282;
  margin-bottom: 30px;
  border-radius: 4px;
}
.search-input:focus {
  border: 5px solid rgba(255,1,1,0.3);
  border-radius: 4px;
}
.search {
  position: relative;
}
.search-icon {
  position: absolute;
  width: 20px;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.ranking h2 {
  font-size: 2.4em;
  font-weight: bold;
  padding-left: 15px;
  border-left: solid 6px #FF0101;
  margin-bottom: 15px;
}
.ranking-list {
  border-top: solid 1px #FF0101;
  padding-top: 20px;
  margin-bottom: 70px;
}
.ranking-list-item {
  margin-bottom: 33px;
  position: relative;
}
.ranking-list-item:hover {
  opacity: 0.5;
}
.ranking-list-item:last-child {
  margin-bottom: 0px;
}
.ranking-list-item a {
  display: flex;
  justify-content: space-between;
}
.ranking-inner {
  position: relative;
  width: 70%;
}
.ranking-inner:before {
  position: absolute;
  top: 3px;
  width: 18px;
  height: 18px;
  display: block;
  padding: 2px;
  background-color: #828282;
  text-align: center;
  color: #FFF;
  z-index: -1;
  counter-increment: number;
  content: counter(number);
  font-weight: bold;
}
.ranking-inner p {
  width: 87%;
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  right: 0;
  height: 70px;
}
.ranking-img img {
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.ranking.sp {
  display: none;
}
.category h2 {
  font-weight: bold;
  font-size: 2.4em;
  padding-bottom: 12px;
  border-bottom: solid 1px #828282;
  margin-bottom: 20px;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
}
.category-list-item {
  width: auto;
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 4px;
}
.category-list-item:hover {
  background-color: #ffea00;
}
.category.sp {
  display: none;
}
.sub-contents {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  font-size: 1.5em;
  color: #FFF;
}
.js-sitelink-banner {
  position: fixed;
  left: 10px;
  width: 50px;
  bottom: 10px;
  width: 230px;
  padding: 13px 0;
  border-radius: 4px;
  border: 2px solid #FFF;
  background-color: #ffea00;
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
.js-sitelink-banner:hover {
  animation: huru 2s infinite;
  display: inline-block;
}
@keyframes huru {
  10% {
    transform: translate(0px, -5px);
  }
  30% {
    transform: translate(0px, 0);
  }
}
.js-sitelink-banner a {
  display: block;
  width: 100%;
  background-image: url(../images/sitelink-icon2.png);
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: 12px center;
}
.js-sitelink-banner a p {
  font-weight: bold;
  font-size: 1.4em;
  width: 74%;
  margin-left: auto;
  position: relative;
  color: #333;
  line-height: 20px;
}
.js-sitelink-banner a p:after {
  content: "";
  width: 10px;
  height: 10px;
  right: 10px;
  bottom: 15px;
  position: absolute;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform: rotate(45deg);
  border-radius: 1.5px;
  display: inline-block;
}
.js-scroll-top {
  display: none;
  position: fixed;
  right: 30px;
  width: 50px;
  height: 50px;
  bottom: 20px;
  border: solid 2px #333;
  background-color: #FFF;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}
.js-scroll-top:hover {
  opacity: 0.5;
}
.js-scroll-top a {
  display: none;
}
.arrow {
  margin: 20px auto 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(-45deg);
  border-radius: 1.5px;
}
.js-btn {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 40px;
  top: 25px;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.js-btn-search {
  position: relative;
  content: url(../images/search.svg);
  width: 100%;
}
.js-btn-cancel {
  content: url(../images/cancel.svg);
  position: relative;
  width: 90%;
  animation: fadeIn .2s ease;
}
.js-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  animation: fadeIn .2s ease;
  flex-direction: column;
  margin-top: 80px;
  color:#efefef;
  z-index: 9;
}
.js-over-lay {
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: -1;
}
.search-inner {
  width: 100%;
  background-color: #FFF;
  z-index: 9;
  padding: 20px 0;
}
.js-menu .search {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  z-index: 8;
}
.js-menu .search {
  position: relative;
}
.js-menu .search-input {
  margin-bottom: 0;
}
.js-index {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width:1110px) {
  .js-btn {
    display: block;
  }
  .side-bar {
    display: none;
  }
  .article {
    width: 100%;
  }
  .related {
    margin-bottom: 60px;
  }
  .breadcrumb {
    display: none;
  }
  .main-contents {
    margin-top: 80px;
  }
  .article-head img {
    margin-bottom: 20px;
  }
  .article-data {
    margin-bottom: 15px;
  }
  .article h1 {
    margin-bottom: 40px;
  }
  .article-text {
    margin-bottom: 45px;
  }
  .item-image {
    margin-bottom: 25px;
  }
  .share {
    margin-bottom: 40px;
  }
  .related-list {
    display: block;
  }
  .related-list-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .related-list-item a {
    display: flex;
  }
  .related-img {
    margin-right: 15px;
  }
  .related-img img {
    width: 150px;
    height: 95px;
  }
  .ranking.sp {
    display: block;
    margin: 0 auto 60px;
  }
  .ranking.sp h2 {
    margin-bottom: 12px;
  }
  .ranking.sp .ranking-list {
    padding-top: 30px;
    margin-bottom: 0;
  }
  .ranking.sp .ranking-list-item {
    margin-bottom: 20px;
    width: 100%;
  }
  .ranking.sp .ranking-inner {
    width: 100%;
  }
  .ranking.sp .ranking-img {
    margin-right: 15px;
  }
  .ranking.sp .ranking-img img {
    width: 150px;
    height: 95px;
    object-fit: cover;
  }
  .ranking.sp .ranking-inner p {
    width: 91%;
    left: 25px;
    height: 45px;
  }
  .comment-box {
    width: 100%;
  }
  .category.sp {
    display: block;
    margin-bottom: 80px;
  }
}

@media screen and (max-width:575px) {
  .header {
    height: 60px;
  }
  .js-menu {
    margin-top: 60px;
  }
  .js-btn {
    right: 20px;
    top: 6px;
  }
  .logo-area {
    margin-left: 15px;
    width: 210px;
    margin-top: 8px;
  }
  .logo-img {
    width: 100%;
  }
  .site-description {
    display: none;
  }
  .article h2 {
    padding-left: 15px;
  }
  .main-contents {
    margin-top: 60px;
  }
  .js-scroll-top {
    right: 20px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    border: solid 2px #333;
  }
  .arrow {
    margin-top: 14px;
  }
  .article h1 {
    font-size: 2em;
    line-height: 32px;
  }
  .article h2 {
    font-size: 1.8em;
    line-height: 32px;
  }
  .related h2 {
    font-size: 2em;
  }
  .related-img {
    margin-right: 10px;
  }
  .related-img img {
    width: 80px;
    height: 80px;
  }
  .ranking.sp h2 {
    font-size: 2em;
  }
  .ranking.sp .ranking-img {
    margin-right: 10px;
  }
  .ranking.sp .ranking-img img {
    width: 80px;
    height: 80px;
  }
  .register {
    width: 100%;
  }
  .js-sitelink-banner {
    width: 200px;
  }
  .js-sitelink-banner a {
    background-size: 30px auto;
  }
  .js-btn {
    top: 17px;
    width: 25px;
  }
}